body {
	background-color: #d6d6d6;
	margin: 0;
}
h1, h2, h3,h4, h5, h6 {
	margin: 0;
}
.container {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 15px;
	width: 100%;
}
.container-center {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100%;
}
.container-username {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 320px;
	width: 340px;
	padding-bottom: 30px;
}
.container-username header{
	background-color: #3849aa;
	color: white;
	font-size: 17px;
	font-weight: 700;
	padding: 10px 10px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.logo {
	background-color: #3849aa;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}
.logo-vertical {
	flex-direction: column;
}
.logo a {
	color: white;
}
.logo i{
	font-size: 50px;
}
.form-body {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: auto;
	margin-bottom: auto;
}
.form-control {
	border: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    height: 2.2em;
    color: #6b6b6b;
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #3849aa;
    border-radius: 0;
	margin-bottom: 10px;
	outline: none;
}
.form-control-lg {
    width: 100%;

}
.btn {
	background-color: #3849aa;
	color: #ffffff;
	position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
}
.btn-lg {
	width: 100%;
}
header {
	background-color: #3849aa;
	padding: 10px 0;
}
header .container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logout, .username {
	color: white;
	text-decoration: none;
	margin-left: 3px;
}
.username .fas {
	margin-right: 4px;
}
.search {
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	width: 500px;
}
.search input {
	flex-grow: 2;
}
.shows {
	display: flex;;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}
.show {
	background-color: white;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	width: 350px;
}
.show-img {
	position: relative;
	display: flex;
}
.show-img img{
	width: 100%;
	filter: brightness(0.7);
}
.show-title {
	color: white;
	bottom: 0;
	font-weight: 900;
	font-size: 18px;
	position: absolute;
	padding: 24px;
}
.show p{
	color: #6b6f82;
	padding: 24px 10px;
}
.show p a {
	color: #1661be;
	text-decoration: none;
}
.load {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load div {
	background-color: #5e6dc3;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	@-webkit-animation-fill-mode: both;
	@-webkit-animation: load 1.8s infinite ease-in-out
	animation-fill-mode: both;
	 animation: load 1.8s infinite ease-in-out

}
.load div:nth-child(2) {
	animation-delay: .2s;
}
.load div:nth-child(3) {
	animation-delay: .4s;
}

@-webkit-keyframes load {
	0%, 80%,100%{width: 20px; height: 20px;}
	40% {width: 15px; height: 15px;}
}

@keyframes load {
	0%, 80%,100%{width: 20px; height: 20px;}
	40% {width: 15px; height: 15px;}
}
.hidden {
	display: none;
}
.pull-left {
	margin-left: auto;
}